.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 30px 50px;
  border-radius: 20px;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

@media (max-width: 500px) {
  .form {
    max-width: 400px;
    padding: 20px 40px;
  }
}

@media (max-width: 400px) {
  .form {
    max-width: 350px;
    padding: 20px 40px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.register-button,
.log-in-button {
  background: none;
  border: none;
  margin-right: 20px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.register-button {
  border-bottom: 2px solid #f05080;
  font-weight: bold;
  margin-right: 10px;
}

.log-in-button {
  color: #777;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
}

.social-register {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 30px 0;
}

.social-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ccc;
}

.social-button .apple,
.facebook,
.google {
  background-color: #eae8e8;
}

.social-button.facebook {
  color: #3b5998;
}

.social-icons {
  width: 20px;
  height: 20px;
}

.or-text {
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group .input {
  position: relative;
  width: 100%;
  padding: 25px 10px 7.5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 12px;
}

.form-group i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #8e8e8e;
  transition: 0.5s;
  pointer-events: none;
}

.form-group .input:focus + i,
.form-group .input:valid + i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
}

.email-check-icon {
  position: absolute;
  top: 55%;
  right: 10px;
  color: #4caf50;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
}

.check-icon {
  color: #4caf50;
}

.password-input {
  position: relative;
}

.password-icons {
  position: absolute;
  top: 50%;
  display: flex;
  gap: 10px;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
}

.password-info {
  font-size: 12px;
  color: #777;
  margin-bottom: 20px;
}

.create-account-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #5932EA;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 16px;
}

.create-account-button:hover {
  background-color: #471ed9;
}

.checkbox-group {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 5px;
  margin-bottom: 4px;
  width: 17px;
  height: 17px;
}

.terms-and-conditions {
  font-size: 12px;
  color: #777;
  text-align: center;
}

.terms-and-conditions a {
  color: #5680e9;
  text-decoration: underline;
}

.terms-and-conditions a:hover {
  text-decoration: none;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
